{% extends 'base.html' %}

{% block content %}
    <h1>Product List</h1>
    <section>
        <a href="/products/create">Create Product</a>
    </section>
    <section>
        <table class="table table-hover">
            <thead>
                <tr>
                   <th>ID</th>
                    <th>Title</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products  %}
                <tr>
                    <td>({{ product.id }})</td>
                    <td>{{ product.title }}</td>
                    <td>
                        <a href="/products/{{ product.id }}">View</a>
                        |
                        <a href="/products/{{ product.id }}/edit">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
